article {

    width: 296px;
    height: 386px;

}

#list5 {

    color:#eee;
}

#list5 ul {

    font-size: 21px;
    color: #9292eb;;

}
#list5 ul li {  }

#list5 ul li ul {

    padding:5px 0 5px 18px;
    font-size:15px;
    color: #ac9188
}

#list5 ul li ul li {

    color:#7275b0;
    height: 15px;
    margin-left: 10px;
}

#Filters {
    position: absolute;
    width: 211px;
    height: 371px;
    background-color: #ebe1e100;
    margin-left: 958px;
    margin-top: -386px;
}

/*-------------------------------*/


/*
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fbeae7;
    color: #A6ADA7;
    font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
*/

/*-------------------------------*/

/*
.big {

    font-size: 1.2em;

}
*/
/*--------------------------------*/
/*
.small {

    font-size: .7em;

}


.square {


    width: .7em;

    height: .7em;

    margin: .5em;

    display: inline-block;


}

/* Custom dropdown */
/*
.custom-dropdown {

    position: relative;

    display: inline-block;

    vertical-align: middle;

    margin: 10px;

}


.custom-dropdown select {

    background-color: #1abc9c;

    color: #fff;
    font-size: inherit;

    padding: .5em;
    padding-right: 2.5em;
    border: 0;



    border-radius: 3px;

    text-indent: 0.01px;

    text-overflow: '';

    /*-webkit-appearance: button;*/
/*
    margin-left: -125px;
}


.custom-dropdown::before,
.custom-dropdown::after {

    content: "";

    position: absolute;

    pointer-events: none;

}

.custom-dropdown::after {

    content: "\25BC";

    height: 1em;

    font-size: .625em;

    line-height: 1;

    right: 1.2em;

    top: 50%;

    margin-top: -.5em;

}

/*
.custom-dropdown::before {


    width: 2em;

    right: 0;

    top: 0;

    bottom: 0;

    border-radius: 0 3px 3px 0;

}


.custom-dropdown select[disabled] {

    color: rgba(0,0,0,.3);
}


.custom-dropdown select[disabled]::after {

    color: rgba(0,0,0,.1);

}


.custom-dropdown::before {

    background-color: rgba(0,0,0,.15);

}

.custom-dropdown::after {

    color: rgba(0,0,0,.4);

}

/*-------------------2------------------*/
/*
.custom-dropdown-1 {

    position: absolute;

    display: inline-block;

    vertical-align: middle;

    margin: 10px;


}


.custom-dropdown-1 select {

    background-color: #1abc9c;

    color: #fff;
    font-size: inherit;

    padding: .5em;
    padding-right: 2.5em;
    border: 0;


    border-radius: 3px;

    text-indent: 0.01px;

    text-overflow: '';

    -webkit-appearance: button;

    margin-left: -125px;

    margin-bottom: -5px;
}


.custom-dropdown-1::before,
.custom-dropdown-1::after {

    content: "";

    position: absolute;

    pointer-events: none;

}

/*
.custom-dropdown-1::after {

    content: "\25BC";

    height: 1em;

    font-size: .625em;

    line-height: 1;

    right: 1.2em;

    top: 50%;

    margin-top: -.5em;

}


.custom-dropdown-1::before {


    width: 2em;

    right: 0;

    top: 0;

    bottom: 0;

    border-radius: 0 3px 3px 0;

}


.custom-dropdown-1 select[disabled] {

    color: rgba(0,0,0,.3);
}


.custom-dropdown-1 select[disabled]::after {

    color: rgba(0,0,0,.1);

}


.custom-dropdown-1::before {

    background-color: rgba(0,0,0,.15);

}

.custom-dropdown-1::after {

    color: rgba(0,0,0,.4);

}

/*-------------------2------------------*/

