article {

    width: 296px;
    height: 386px;

}

#list5 {

    color:#eee;
}

#list5 ul {

    font-size: 21px;
    color: #9292eb;;
}

#list5 ul li {  }

#list5 ul li ul {

    padding:5px 0 5px 18px;
    font-size:15px;
    color: #ac9188
}

#list5 ul li ul li {

    color:#7275b0;
    height: 15px;
    margin-left: 10px;
}

#Filters {

    position: inherit;
    width: 211px;
    height: 571px;
    background-color: #ebe1e100;
    margin-left: 1050px;
    margin-top: -569px

}

.paginationCatygory {

    padding-left: 494px;
    margin-top: 64px;

}

.products {

    display: inline-block;
    position: inherit;
    height: 565px;
    width: 868px;
 /* background-color: #419641; */
    padding-left: 80px;
    padding-right: 17px;
    margin-left: 146px;
    margin-right: 57px;
    margin-top: -416px;

}

.categoryId {

 visibility: hidden;

}
.word p {

    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    left: 56%;
    margin-left: -22px;
    color: #7275b0;
    margin-bottom: 0px;

}

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 11px;
    margin-left: -25px;
    margin-left: -25px;

}

.form-control{

    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;

}

/*0-я*/

label.dropdown select {
    padding: 10px 42px 10px 10px;
    background: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 168px;
    outline: none;
}

label.dropdown select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

/*
label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {
    content: '';
    right: 5px;
    top: -7px;
    width: 30px;
    height: 33px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}

*/
label.dropdown { position: relative; }
label.dropdown:after {
    /*content: '>';*/
    font: 16px Consolas, monospace;
    color: #444;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: 10px;
    position: absolute;
    /* pointer-events: none;
     width: 35px;
     padding: 0 0 5px 0;
     text-indent: 14px;*/
}

/*
@media screen\0 {
    label.dropdown:after {
        width: 38px;
        text-indent: 15px;
        right: 0;
    }
}
@media screen and (min--moz-device-pixel-ratio:0) {
    label.dropdown select { padding-right: 40px; }
    label.dropdown:before { right: 6px; }
    label.dropdown:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        width: 36px;
    }
}

/*Пример*/

/*1-я*/

label.dropdown-1 select {
    padding: 10px 42px 10px 10px;
    background: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 168px;
    outline: none;
}

label.dropdown-1 select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

/*
label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {
    content: '';
    right: 5px;
    top: -7px;
    width: 30px;
    height: 33px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}

*/
label.dropdown-1 { position: relative; }
label.dropdown-1:after {
    /*content: '>';*/
    font: 16px Consolas, monospace;
    color: #444;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: 10px;
    position: absolute;
    /* pointer-events: none;
     width: 35px;
     padding: 0 0 5px 0;
     text-indent: 14px;*/
}

/*
@media screen\0 {
    label.dropdown:after {
        width: 38px;
        text-indent: 15px;
        right: 0;
    }
}
@media screen and (min--moz-device-pixel-ratio:0) {
    label.dropdown select { padding-right: 40px; }
    label.dropdown:before { right: 6px; }
    label.dropdown:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        width: 36px;
    }
}

/*Пример*/

/*2-я*/

label.dropdown-2 select {
    padding: 10px 42px 10px 10px;
    background: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 168px;
    outline: none;
}

label.dropdown-2 select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

/*
label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {
    content: '';
    right: 5px;
    top: -7px;
    width: 30px;
    height: 33px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}

*/
label.dropdown-2 { position: relative; }
label.dropdown-2:after {
    /*content: '>';*/
    font: 16px Consolas, monospace;
    color: #444;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: 10px;
    position: absolute;
    /* pointer-events: none;
     width: 35px;
     padding: 0 0 5px 0;
     text-indent: 14px;*/
}

/*
@media screen\0 {
    label.dropdown:after {
        width: 38px;
        text-indent: 15px;
        right: 0;
    }
}
@media screen and (min--moz-device-pixel-ratio:0) {
    label.dropdown select { padding-right: 40px; }
    label.dropdown:before { right: 6px; }
    label.dropdown:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        width: 36px;
    }
}

/*Пример*/

/*3-я*/

label.dropdown-3 select {
    padding: 10px 42px 10px 10px;
    background: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 168px;
    outline: none;
}

label.dropdown-3 select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

/*
label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {
    content: '';
    right: 5px;
    top: -7px;
    width: 30px;
    height: 33px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}

*/
label.dropdown-3 { position: relative; }
label.dropdown-3:after {
   /* content: '>';*/
    font: 16px Consolas, monospace;
    color: #444;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: 10px;
    position: absolute;
    /* pointer-events: none;
     width: 35px;
     padding: 0 0 5px 0;
     text-indent: 14px;*/
}

/*
@media screen\0 {
    label.dropdown:after {
        width: 38px;
        text-indent: 15px;
        right: 0;
    }
}
@media screen and (min--moz-device-pixel-ratio:0) {
    label.dropdown select { padding-right: 40px; }
    label.dropdown:before { right: 6px; }
    label.dropdown:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        width: 36px;
    }
}

/*Пример*/

/*4-я*/

label.dropdown-4 select {
    padding: 10px 42px 10px 10px;
    background: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 168px;
    outline: none;
}

label.dropdown-4 select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

/*
label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {
    content: '';
    right: 5px;
    top: -7px;
    width: 30px;
    height: 33px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}

*/
label.dropdown-4 { position: relative; }
label.dropdown-4:after {
  /*  content: '>';*/
    font: 16px Consolas, monospace;
    color: #444;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: 10px;
    position: absolute;
    /* pointer-events: none;
     width: 35px;
     padding: 0 0 5px 0;
     text-indent: 14px;*/
}

/*
@media screen\0 {
    label.dropdown:after {
        width: 38px;
        text-indent: 15px;
        right: 0;
    }
}
@media screen and (min--moz-device-pixel-ratio:0) {
    label.dropdown select { padding-right: 40px; }
    label.dropdown:before { right: 6px; }
    label.dropdown:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        width: 36px;
    }
}

/*Пример*/

/*5-я*/

label.dropdown-5 select {
    padding: 10px 42px 10px 10px;
    background: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 168px;
    outline: none;
}

label.dropdown-5 select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

/*
label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {
    content: '';
    right: 5px;
    top: -7px;
    width: 30px;
    height: 33px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}

*/
label.dropdown-5 { position: relative; }
label.dropdown-5:after {
    /*content: '>';*/
    font: 16px Consolas, monospace;
    color: #444;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: 10px;
    position: absolute;
    /* pointer-events: none;
     width: 35px;
     padding: 0 0 5px 0;
     text-indent: 14px;*/
}

/*
@media screen\0 {
    label.dropdown:after {
        width: 38px;
        text-indent: 15px;
        right: 0;
    }
}
@media screen and (min--moz-device-pixel-ratio:0) {
    label.dropdown select { padding-right: 40px; }
    label.dropdown:before { right: 6px; }
    label.dropdown:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        width: 36px;
    }
}

/*Пример*/

/*6-я*/

label.dropdown-6 select {
    padding: 10px 42px 10px 10px;
    background: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 168px;
    outline: none;
}

label.dropdown-6 select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

/*
label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {
    content: '';
    right: 5px;
    top: -7px;
    width: 30px;
    height: 33px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}

*/
label.dropdown-6 { position: relative; }
label.dropdown-6:after {
    /*content: '>';*/
    font: 16px Consolas, monospace;
    color: #444;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: 10px;
    position: absolute;
    /* pointer-events: none;
     width: 35px;
     padding: 0 0 5px 0;
     text-indent: 14px;*/
}

/*
@media screen\0 {
    label.dropdown:after {
        width: 38px;
        text-indent: 15px;
        right: 0;
    }
}
@media screen and (min--moz-device-pixel-ratio:0) {
    label.dropdown select { padding-right: 40px; }
    label.dropdown:before { right: 6px; }
    label.dropdown:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        width: 36px;
    }
}

/*Пример*/

/*7-я*/

label.dropdown-7 select {
    padding: 10px 42px 10px 10px;
    background: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 168px;
    outline: none;
}

label.dropdown-7 select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

/*
label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {
    content: '';
    right: 5px;
    top: -7px;
    width: 30px;
    height: 33px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}

*/
label.dropdown-7 { position: relative; }
label.dropdown-7:after {
    /*content: '>';*/
    font: 16px Consolas, monospace;
    color: #444;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: 10px;
    position: absolute;
    /* pointer-events: none;
     width: 35px;
     padding: 0 0 5px 0;
     text-indent: 14px;*/
}

/*
@media screen\0 {
    label.dropdown:after {
        width: 38px;
        text-indent: 15px;
        right: 0;
    }
}
@media screen and (min--moz-device-pixel-ratio:0) {
    label.dropdown select { padding-right: 40px; }
    label.dropdown:before { right: 6px; }
    label.dropdown:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        width: 36px;
    }
}

/*Пример*/
