article {

    width: 296px;
    height: 386px;

}

#list5 {

    color:#eee;
}

#list5 ul {

    font-size: 21px;
    color: #9292eb;;

}
#list5 ul li {  }

#list5 ul li ul {

    padding:5px 0 5px 18px;
    font-size:15px;
    color: #ac9188
}

#list5 ul li ul li {

    color:#7275b0;
    height: 15px;
    margin-left: 10px;
}

#Filters {

    position: static;
    width: 211px;
    height: 571px;
    background-color: #ebe1e100;
    margin-left: 1016px;
    margin-top: -386px;

}

.pagination {

    padding-left: 238px;
}

.main_products {

    display: inline-block;
    position: relative;
    height: 120px;
    width: 120px;
    background-color: #419641;
    padding-left: 12px;
    padding-right: 12px;

}

.categoryId {
    visibility: hidden;
}