.delivery-container {
    text-align: center;
}

.delivery-contact{

}

.delivery-news{

}

.delivery-info {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
}