.secondRowFooter {
    background: #fde9e9;
    text-align: center;
    padding: 15px;
    bottom: 0%;
}

.firstRowFooter {
    padding: 15px 40px;
}

.social {
    float: right;
}

.social .social-text {
    text-align: center;
}

.logoFooter {
    display: inline-block;
}

.footer-mainFooter{
    margin: 0;
    display: -webkit-flex;
    flex-direction: column;
}

.footer-links {
    float: left;
    margin-left: 200px;
    margin-top: 10px;
}

.footer-links .link {
    margin: 0px 30px;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}


