.firstRow {
    padding: 30px 0px;
}

.logo {
    float: left;
}
.logo .img-circle {
    width: 100px;
}

.categories {
    display: inline-block;
    margin: 30px 100px;
}

.icons {
    float: right;
}
.icons .glyphicon {
    font-size: 40px;
}
.icons a {
    display: block;
}

.icon-text {
    display: inline-block;
    vertical-align: top;
    padding: 13px 5px;
}

.secondRow {
    background: #fde9e9;
}
.secondRow .navbar {
    margin: 0;
}
.secondRow .navbar-search {
    margin: 11px 0px;
}

