.title {
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.41);
    position: relative;
}
.title:before {
    margin-left: -100%;
    left: -14px;
}
.title:after {
    margin-right: -100%;
    right: -14px;
}
.personal {
    background-color: rgba(239, 236, 236, 0.81);
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    left: 50%;
}

.address {
    background-color: rgba(239, 236, 236, 0.81);
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 3px 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    position: relative;
    top: 15px;
    left: 43%;
}

.buttonEditPersonalData,.buttonEditPassword,.buttonDeleteAccount,.buttonAddAddress{
    margin: auto;
    width: 150px;
}

.buttonEditAddress,.buttonDeleteAddress {
    border: 1px solid #e8e8e8;
    margin: 5px;
    width: 100px;
    border-radius: 20px;
    left: 37%;
    top: -20px;
}

.buttonEditAddress{
    position: absolute;
    left: 80%;
    top: -25px;
}

.buttonDeleteAddress{
    position: absolute;
    left: 1%;
    top: -25px;
}
.buttonEditPersonalData{
    top: -17px
}
.buttonEditPassword{
    left: 350px
}

.buttonDeleteAccount{
    border: 1px solid #bd0909;
    background-color: #ff0000;
}

.table{
    width: 80%;
    position: relative;
    margin-left: 10%;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.selected{
    background: silver;
    border-radius: 20px;
}
.oldPassword{
    top: 30px;
}
.newPassword{
    top: 80px;
}
.repeatNewPassword{
    top: 130px;
}