.editPersonalData, .overlay, .deleteAccount, .login, .registration, .editPassword {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.addAddress, .changeInfo, .account, .signIn, .signUp, .popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    width: 430px;
    height: 470px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
    border-radius: 11px;
}
.editPersonalData .overlay .deleteAccount .login .registration .editPassword .close_window  {
    width: 6px;
    height: 17px;
    position: absolute;
    padding: 1px 9px 4px 9px;
    top: 10px;
    right: 7px;
    cursor: pointer;
    color: #000;
}
.close_window{
    position: relative;
    top: 5px;
    left: 380px;
}

.change, .save, .dlt, .savePas {
    position: absolute;
    left: 150px;
    top: 410px;
    text-align: center;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid #e8e8e8;
}
.signI, .signU{
    position: absolute;
    left: 130px;
    top: 230px;
    text-align: center;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid #e8e8e8;
}
.info{
    position: absolute;
    width: 190px;
    left: 200px;
    border-radius: 5px;
    text-align: center;
}
.example{
    text-align: right;
    position: relative;
    top: 7px;
    left: -10px;
}
.input-form{
    position: absolute;
    top: 130px;
}
.request{
    text-align: center;
    position: relative;
    left: 30px;
}
.accountInputPassword, .accountComment{
    position: relative;
    left: 80px;
}
.name_login{
    position: absolute;
    top: 35px;
    left: 115px;
}
.password{
    position: absolute;
    top: 90px;
    left: 115px;
}
.remember{
    position: relative;
    top: 140px;
    left: 105px;
}
.thingclass{
    position: relative;
    top: 220px;
    left: 100px;
}
.email{
    position: absolute;
}
.loginReg{
    position: absolute;
}
.passwordReg{
    position: absolute;
    top: 110px;
}
.repeatPasReg{
    position: absolute;
    top: 160px;
}
.sortMen1{
    position: relative;
    top: 50px;
}
.close_window{
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff
}
.oldPassword{
    top: 30px;
}
.newPassword{
    top: 80px;
}
.repeatNewPassword{
    top: 130px;
}