<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Delivery</title>

</head>

<body>
<div class="">
    <div class="delivery-container">
        <h1 class="title">Delivery</h1>
        <h2 class="text-center">Information about delivery</h2>

        <div class="delivery-info">

            <span> Стоимость доставки </span>

            <p>

                OZON Доставка – эксперт по доставке заказов интернет-магазинов, который профессионально управляет специализированными пунктами выдачи интернет-отправлений и курьерской доставкой по всей России. Предлагаем полный комплекс услуг для доставки заказов интернет-магазинов.

            </p>

            <p>
                С 2002 года Компания обеспечивает стабильно высокий уровень сервиса на всей территории РФ, в том числе в периоды распродаж и предновогодний сезон. Услуги OZON Доставки выбирают крупные игроки e-commerce.
            </p>

            <p>
                <!--Выбирайте качественный сервис и развивайте Ваш бизнес с нами!-->
                Choose a quality service and grow your business with us!
            </p>

        </div>
    </div>
</div>

</body>


</html>